@media (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-X: hidden;
    }

    .nav-container {
        width: 100vw;
        height: 15vh;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    .li-item,.search-box1{
        display: none;
    }
    .nav-container img {
        margin-left: 5vw;

    }
    
    .nav-container i{
        display: block;
        margin-right: 5vw;
    }
   

    body {
        overflow-X: hidden;
        /* width: 100vw; */
        background-image: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    

    .hero {
        width: 100vw;
        /* border: 2px solid red; */
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: auto;
    }

    .intro {
        width: 100%;
        /* border: 2px solid red; */
        display: flex;
        align-items: center;
        /* justify-content: center; */
        flex-wrap: wrap;
        height: auto;
        /* overflow: hidden; */
    }

    
    .intro h1{
        font-size: 3em;
    }

    #Name{
        font-size: 4em;
    }

    #inner-parahtml {
        font-size: 10px;
    }

    .intro p {
        margin-top: 5vh;
        /* border: 2px solid red; */
        font-size: 1em;
        font-family: "Inconsolata", monospace;
        width: 85%;
        /* margin: 0;
        padding: 0; */
    }

    .myimg{
        /* border: 2px solid red; */
        height: auto;
        width: auto;
        margin-top: 5vh;
    }

    .myimg img {
        height: 50%;
        width: 60%;
        margin: 0;
        margin-left: 5vw;
    }

    .main-section{
        /* border: 2px solid red; */
        margin-top: 8vh;
    }
    .main-section h1{
        font-size: 3em;
        margin-left: 2vw;
        margin-top: 2vh;
        border-radius: 0;
        border-bottom: 2px solid royalblue;
        width: fit-content;
    }

    .card-container{
        border: 2px solid red;
        margin-top: 2vh;
    }


}