@media screen and (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-X: hidden;
    }

    .nav-container {
        /* display: none; */
        height: 15vh;

    }

    body {
        overflow-X: hidden;
        /* width: 100vw; */
        background-image: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .upperbody {
        width: 100vw;
        height: calc(100vh - 10vh);
        border: 2px solid blue;
        padding: 2vw;
        /* text-align: center; */
        display: flex;
        /*align-items: center;
        justify-items: center; */
        flex-wrap: wrap;
    }

    .hero {

        /* gap: 20px; */
        /* max-width: 100%; */
        width: 100vw;
        border: 2px solid red;
        /* margin-top: 50px; */
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        /* flex-wrap: wrap; */
        flex-direction: column;
        height: auto;
    }

    .intro {
        width: 70%;
        border: 2px solid red;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        height: auto;
        font-size: 15px;
        /* overflow: hidden; */
        margin: 0;
        padding: 0;
        width: 100%;
    }

    #inner-parahtml {
        font-size: 10px;
    }

    .intro p {
        margin-top: 10px;
        font-size: 15px;
        font-family: "Inconsolata", monospace;
        width: 300px;
        margin: 0;
        padding: 0;
        width: 100vw;
    }

    .myimg img {
        margin-top: 20px;
        /* display: none; */
        /* background: none; */
        height: 200px;
        width: 200px;
        margin: 0;
        padding: 0;
        width: 100%;
    }


}