* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300..700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Inconsolata:wght@200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300..700&display=swap');




body {
    /* background-image: url(images/background\ image\ protfolio.webp); */
    margin: 0;
    padding: 0;
    /* background: linear-gradient(135deg, #a7a7a7, #000000); */
    /* background: linear-gradient(135deg, #000000, #FFD700); */

    background-color: #08172A;
    /* background-image: url(images/full\ and\ final\ img.webp); */
    background-size: contain;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
}

.upperbody {
    /* background: radial-gradient(circle, rgba(3, 3, 3, 0.907), rgba(0, 0, 0, 0.512));  */
    /* border: 3px solid blue; */

}

.progress-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Full width */
    height: 5px;
    /* Adjust height as needed */
    background: #000000;
    /* Light background color */
    z-index: 1000;
    /* Ensure it stays above all content */
}

/* Actual progress bar */
.progress-bar {
    width: 0%;
    /* Start with 0% width */
    height: 100%;
    /* Full height of the container */
    background: #a04caf;
    /* Green color (adjust as desired) */
    transition: width 0.2s ease;
    /* Smooth progress animation */
}

.nav-container {
    /* border: 2px solid red; */
    border-radius: 10px;
    /* background-color: rgba(255, 255, 255, 0.2); */
    background-color: #73738b20;
    backdrop-filter: blur(5px);
    /* padding: 10px; */
    margin-top: 20px;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    /* flex: 1; */
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
    /* align-items: ; */
    /* padding-top: 10px; */
}

.logo img {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px;
    cursor: pointer;


}

.li-item {
    /* z-index: -1; */
    display: flex;
    gap: 10px;
    justify-content: center;
    list-style-type: none;

}
#search-icon{
    font-size: 30px;
}

/* the code for HOME ---------------------------------------------------------------*/
.li-item li a {
    margin-top: 5px;
    transition: transform 0.3s ease;
    color: #FFFFFF;
    /* width: 100px;
    height: 50px; */
    text-decoration: none;
    font-family: "Inconsolata", monospace;
    font-size: 17px;
    font-weight: bolder;
    display: flex;
    /* justify-content: center;
    align-items: center;
    cursor: pointer;
    /* border: 2px solid blue; */
    border-radius: 10%;
    padding: 5px 10px;
    transform: translateY(-3px);
    z-index: 0;
}

.li-item li a:hover {
    color: #ffffff;
    /* background: linear-gradient(145deg, #b8b8b8, #fcebeb); */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(255, 255, 255, 0.3);
    transform: translateY(-10px);
    scale: 1.1;
}

.li-item li a:active {
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5),
        inset -3px -3px 8px rgba(255, 255, 255, 0.2);
    transform: translateY(1px);
}

.search-box1 {
    border: 1px solid red;
    height: 10vh;
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 5px 5px;
    gap: 5px 2px;
}

.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#Search-box {
    border: none;
    height: 35px;
    display: flex;
    font-size: 14px;
    cursor: pointer;
    border: 2px solid rgb(149, 149, 155);
    padding: 10px 20px;
    border-radius: 30px;
    align-items: center;
    /* box-shadow: 0 10px 8px rgba(0, 0, 0, 0.3); */

}

#Search-box:hover input {
    width: 400px;
}

#Search-box input {
    width: 0px;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;

}

.fa-solidfa-bars{

}

.fa-solid,
.fas {
    font-weight: 900;
    margin: 0px 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.fa-solid,
.fas:hover {
    /* transform: translateY(-7px); */
}


.nav-button {
    border: none;
    margin: 0px 5px;
    transition: transform 0.3s;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    background: transparent;
    box-shadow: 0 5px 10px;
}

.nav-button:hover {
    color: #000000;
    background: linear-gradient(145deg, #b8b8b8, #fcebeb);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(255, 255, 255, 0.3);
    transform: translateY(-7px);
}

.nav-button:active {
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5),
        inset -3px -3px 8px rgba(255, 255, 255, 0.2);
    transform: translateY(1px);
}



/* hero section css--------------------------------- */

.hero {
    /* border: 2px solid rebeccapurple; */
    /* background-color: #000000a6; */
    /* backdrop-filter: blur(5px); */
    /* background: radial-gradient(circle, rgba(0, 255, 255, 0.068), rgba(0, 0, 0, 0.9));  */
    /* background: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%); */
    border-radius: 5px;
    margin-top: 100px;
    /* margin-right: 100px; */
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    padding: 20px 25px;

}

.intro {
    /* border: 2px solid red; */
    background-color: rgba(61, 58, 58, 0.334);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    margin-right: 30px;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    /* font-weight: bolder; */
}

.intro h1 {
    /* border: 1px solid brown; */
    /* text-align: center; */
    font-size: 50px;
}


#Name {
    font-weight: bolder;
    color: #ff7716;
    font-family:'Courier New', Courier, monospace;
    text-shadow: 0 10px 10px rgba(30, 29, 28, 0.937);
    border-bottom: 1px solid black;
    /* border: 1px solid white; */
    /* text-align: center; */
    font-size: 60px;
}

.intro p {
    margin-top: 10px;
    font-size: 25px;
    font-family: "Inconsolata", monospace;
    width: 700px;
}

.myimg img {
    /* border: 2px solid blue; */
    background-color: rgba(250, 239, 239, 0.382);
    backdrop-filter: blur(10px);
    height: 400px;
    width: 450px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: -5px 5px 10px;
}

#element {
    font-size: 30px;
}

.herimg {
    border-radius: 10px;
}

/* complete the hero section--------------------------------- */



/* create the main section------------------------------------ */
.main-section {
    padding-top: 25px;
    text-align: center;
    margin-top: 300px;
    flex-wrap: wrap;
    /* border: 2px solid red; */
    /* background: linear-gradient(135deg, rgba(205, 159, 252, 0.149) 10%, rgba(114, 103, 240, 0.144) 100%); */
    /* height: 1000px;  */
    /* background-color: #f0f0f0; */
}

.main-section h1 {
    font-size: 50px;
    font-family: monospace;
    text-align: center;
    color: white;
    border-radius: 10px;
    /* border: 2px solid blue; */
    /* background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 28%, rgba(79, 79, 79, 1) 88%, rgba(163, 153, 153, 1) 92%, rgba(79, 79, 79, 1) 100%, rgba(79, 79, 79, 1) 100%); */
    /* background-size: cover; */
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */

}


.box {
    /* border: 2px solid red; */
    width: 325px;
    background-color: #bcb6b667;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 10px 4px rgba(0, 0, 0, 0.636);
    margin: 20px;
    opacity: 0;
    /* Initially hidden */
    transform: translateX(-500%);
    /* Slide out of view */
    transition: transform 1s ease-in-out, opacity 0.7s ease;
    /* Smooth transitions */
}

.box.in-view {
    opacity: 1;
    /* Make visible */
    transform: translateX(0);
    /* Slide into view */
}

.box.out-of-view {
    opacity: 0;
    transform: translateX(-200%);
    /* Slide out to the left */
}

.box:hover {
    transition: transform 0.7s ease;
    transform: scale(1.1);

}



.Projects a {
    text-decoration: none;
    list-style-type: none;
}

.prj-img {
    flex: 1;
    padding: 5px 5px;
    border-radius: 20px;
    /* box-shadow: 4px 5px 5px rgb(0,0,0,0); */
    width: 100%;
    height: auto;
    cursor: pointer;
}

.card-container{
    padding: 30px;
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
}
.card-content {
    /* border: 2px solid red; */
    background-color: #fa6800;
    padding: 10px;
    margin-top: 0;
    font-size: 30px;
}

.card-content h3 a {
    color: black;
    text-decoration: none;
    list-style-type: none;
}

/* .foodsite { */
/* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
/* margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 0px; }*/

/* .foodsite img { */
/* width: 200px;
    height: 200px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;} */



/* .foodsite h3 a { */
/* text-decoration: none;
    color: black;
    border: 1px solid brown;
    font-size: 30px;
    padding: 12px;
    background-color: rgb(253, 42, 98);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;} */


.article-section {
    display: flex;
    flex-wrap: wrap;
    background-color: #f7f1f1;
    align-items: center;
    border-radius: 10px;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 450px;
    /* width: 500px; */
    padding: 20px;
    text-align: center;
    border: 1px solid black;

}

.article-section h2 {
    color: rgb(0, 0, 0);
    text-align: center;
    /* border: 2px solid red; */
    padding: 10px 20px;
    /* background-color: #000000; */
    border-radius: 10px;
    /* height: 170px; */
    width: 700px;
    box-shadow: 2px 1px 5px;
}


.lang-img {
    width: 400px;
    height: 400px;
    border-radius: 25px;
    box-shadow: 2px 5px 10px;

}

.CV-Languages {
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    margin-bottom: 100px;

}

.languages-icon i {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 25px;
    color: white;
    /* display: block; */
    margin: 20px;
    /* align-items: center; */
    /* flex-direction: row; */
    /* justify-content: center; */
}

.fa-brands {
    font-size: 10vh;
    padding: 15px;
    border-radius: 20px;
    /* border-radius: 40%; */
    color: #5f0101;
    /* background-color: #fa6800; */
    cursor: pointer;
}

.fa-brands:hover {
    /* background-color: #00000076; */
    color: rgb(0, 208, 255);

}


.Resume-form {
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 100px;
    padding: 150px;
    /* text-align: center; */
}

/* .download-resume{
    cursor: pointer;
    border: 2px solid blue;
    width: fit-content;
    padding: 20px 30px;
    background-color: #ff6a00;
} */

.resume-button {
    background-color: #091A2f;
    border: 1px solid rgb(0, 208, 255);
    padding: 20px 30px;
    /* border-radius: 10px; */
    cursor: pointer;
    font-weight: bold;
    list-style-type: none;
    text-decoration: none;
    color: rgb(255, 250, 250);
    font-size: 3vh;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: 0.5s ease;
}

.resume-button:hover {
    color: #091A2f;
    background-color: rgb(0, 208, 255);
    border: 1px solid black;
    scale: 2.5;

}

/* .download-resume:hover{
    color: black;
    background-color: #FFFFFF;
    /* background-color: white; */
/* } */

/* .form-section{
    text-align: center;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
/* border: 2px solid rgb(1, 1, 1);
    margin: 150px;
    color: white;
    display: flex;
    padding: 100px; */
/* } */

.form {
    /* border: 2px solid red; */
    font-size: 40px;
    display: flex;
    flex-direction: column;
}

.contact-container {
    /* border: 2px solid red; */
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}



@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Hachi+Maru+Pop&family=Inconsolata:wght@200..900&family=Nova+Mono&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&family=Yuji+Mai&display=swap');

.contact-left-title h2 {
    font-size: 80px;
    margin-top: 50px;
    color: rgb(0, 255, 204);
    font-weight: bolder;
    font-family: "Nova Mono", monospace;
    display: flex;
}

hr {
    margin-bottom: 50px;
}

.contact-left {
    border: 2px solid rgb(5, 5, 8);
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: -5px 5px 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 450px;

}

.contact-input {
    border: 2px solid black;
    font-family: "Nova Mono", monospace;
    font-size: 25px;
    border-radius: 15px;
    padding: 20px;
    background-color: rgb(234, 221, 221);
    color: rgb(2, 2, 2);
    font-weight: bold;
}

.submit-button {
    width: fit-content;
    padding: 10px;
    margin-left: 150px;
    border-radius: 15px;
    text-align: center;
    font-size: 30px;
    font-family: "Nova Mono", monospace;
    font-weight: bold;
    cursor: pointer;
    background-color: #091A2f;
    border: 1px solid rgb(0, 208, 255);
    color: rgb(255, 250, 250);
}

.submit-button:hover {
    color: #091A2f;
    background-color: rgb(0, 208, 255);
    border: 1px solid black;
    scale: 1.1;
}




/* // footer */

.footer-container {
    /* border: 2px solid red; */
    margin-top: 150px;
    /* margin-bottom: 150px; */
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
}

.upper-footer {
    display: flex;
    background: linear-gradient(135deg, #373b44, #0f2240);
    flex-direction: column;
    gap: 30px;
    /* border: 2px solid red; */
    width: 100%;
    height: 80%
}





@import url('https://fonts.googleapis.com/css2?family=Montserrat+Underline:ital,wght@0,100..900;1,100..900&display=swap');



.upper-footer h1 {
    color: white;
    font-size: 80px;
    font-family: "Montserrat Underline", serif;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat+Underline:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.upper-footer p {
    color: #f7f1f1;
    font-size: 25px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

#github-icon,
#linkedin-icon {
    color: white;
    font-size: 70px;
}

#github-icon:hover,
#linkedin-icon:hover{
    color:#0093b1;
}


.lower-footer p{
    font-size: 25px;
    color: rgba(255, 255, 255, 0.618);
    font-weight: bold;
    align-items: center;
    margin-top: 10px;

}



