.container-item {
    background-color: #000000;
    border: 2px solid red;
    margin-top: 20px;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

/* the code forHOME ---------------------------------------------------------------*/
#Home {
    transition: transform 0.3s ease;
    color: rgb(187, 186, 186);
    width: 200px;
    height: 150px;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    cursor: pointer;
    /* border: 2px solid blue; */
    border-radius: 50%;
    padding: 3px 3px;
    background: linear-gradient(145deg, #645f5f, #000000);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(255, 255, 255, 0.3);
    transform: translateY(-3px);
    z-index: 0;
}

#Home::after{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 50%;
}
#Home::before{
    content: "";
    background: linear-gradient(45deg, #FF0000,#ff7300, #fffB00, #48FF00, #00FFD5, #002BFF, #FF0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    border-radius: 50%;
    transition: opacity .3s ease-in-out;
    opacity: 1;
}
@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
   100% {background-position: 0 0;}
    
}

#Home:hover {
    color: #C9C5C0;
    background: linear-gradient(145deg, #000000, #ff1717);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(255, 255, 255, 0.3);
    transform: translateY(-7px);
}

#Home:active {
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5),
        inset -3px -3px 8px rgba(255, 255, 255, 0.2);
    transform: translateY(1px);
}



/* the code for About us ---------------------------------------------------------------*/
#Aboutus {
    transition: transform 0.3s ease;
    /* border: 2px solid blue; */
    color: rgb(187, 186, 186);
    width: 200px;
    height: 120px;
    border-radius: 50%;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    cursor: pointer;

    /* background color */
    background: linear-gradient(145deg, #f93a00, #0c0c0f);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(255, 255, 255, 0.3);
    transform: translateY(-3px);
}
#Aboutus::after{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 50%;
}
#Aboutus::before{
    content: "";
    background: linear-gradient(45deg, #FF0000,#ff7300, #fffB00, #48FF00, #00FFD5, #002BFF, #FF0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    border-radius: 50%;
    transition: opacity .3s ease-in-out;
    opacity: 1;
}
@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
   100% {background-position: 0 0;}
    
}

#Aboutus:hover {
    color: #C9C5C0;
    background: linear-gradient(145deg, #000000, #ff1717);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(255, 255, 255, 0.3);
    transform: translateY(-7px);
}

#Aboutus:active {
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5),
        inset -3px -3px 8px rgba(255, 255, 255, 0.2);
    transform: translateY(1px);

}


/* the code for SERVICE ---------------------------------------------------------------*/

#service {
    transition: transform 0.3s ease;
    /* border: 2px solid blue; */
    color: rgb(187, 186, 186);
    width: 200px;
    height: 120px;
    border-radius: 50%;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    cursor: pointer;

    /* background color */
    background: linear-gradient(145deg, #f93a00, #0c0c0f);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(255, 255, 255, 0.3);
    transform: translateY(-3px);

}
#service::after{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 50%;
}
#service::before{
    content: "";
    background: linear-gradient(45deg, #FF0000,#ff7300, #fffB00, #48FF00, #00FFD5, #002BFF, #FF0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    border-radius: 50%;
    transition: opacity .3s ease-in-out;
    opacity: 1;
}
@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
   100% {background-position: 0 0;}
    
}

#service:hover {
    color: #C9C5C0;
    background: linear-gradient(145deg, #000000, #ff1717);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(255, 255, 255, 0.3);
    transform: translateY(-7px);
}

#service:active {
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5),
        inset -3px -3px 8px rgba(255, 255, 255, 0.2);
    transform: translateY(1px);

}

/* the code for blog's ---------------------------------------------------------------*/

#blogs {
    transition: transform 0.3s ease;
    /* border: 2px solid blue; */
    color: rgb(187, 186, 186);
    width: 200px;
    height: 90px;
    border-radius: 50%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    cursor: pointer;

    /* background color */
    background: linear-gradient(145deg, #f93a00, #0c0c0f);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(255, 255, 255, 0.3);
    transform: translateY(-3px);
}
#blogs::after{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 50%;
}
#blogs::before{
    content: "";
    background: linear-gradient(45deg, #FF0000,#ff7300, #fffB00, #48FF00, #00FFD5, #002BFF, #FF0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    border-radius: 50%;
    transition: opacity .3s ease-in-out;
    opacity: 1;
}
@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
   100% {background-position: 0 0;}
    
}

#blogs:hover {
    color: #C9C5C0;
    background: linear-gradient(145deg, #000000, #ff1717);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(255, 255, 255, 0.3);
    transform: translateY(-7px);
}

#blogs:active {
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5),
        inset -3px -3px 8px rgba(255, 255, 255, 0.2);
    transform: translateY(1px);

}

/* the code for Products ---------------------------------------------------------------*/

#Products {
    transition: tranform 0.3s ease;
    color: rgb(187, 186, 186);
    width: 200px;
    height: 90px;
    border-radius: 50%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    cursor: pointer;

    /* background color */
    background: linear-gradient(145deg, #f93a00, #0c0c0f);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(255, 255, 255, 0.3);
    transform: translateY(-3px);
}
#Products::after{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 50%;
}
#Products::before{
    content: "";
    background: linear-gradient(45deg, #FF0000,#ff7300, #fffB00, #48FF00, #00FFD5, #002BFF, #FF0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    border-radius: 50%;
    transition: opacity .3s ease-in-out;
    opacity: 1;
}
@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
   100% {background-position: 0 0;}
    
}

#Products:hover {
    color: #C9C5C0;
    background: linear-gradient(145deg, #000000, #ff1717);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(255, 255, 255, 0.3);
    transform: translateY(-7px);
}

#Products:active {
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5),
        inset -3px -3px 8px rgba(255, 255, 255, 0.2);
    transform: translateY(1px);

}