* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    /* background-image: url(https://up.yimg.com/ib/th?id=OIP.WaQU5Ulwyif4M239aaY1vwHaEK&pid=Api&rs=1&c=1&qlt=95&w=201&h=113); */
}

.nav-container{
    /* background-color: #00000017; */
    /* backdrop-filter: blur(8px); */
    /* background-color: #000000; */
    border: 2px solid red;
    margin-top: 20px;
    /* height: 40vh; */
     display: flex; 
    justify-content: space-around;
    align-items: center;
    /* padding-top: 10px; */ 
}

.logo img{
    height: 50px;
    width: 50px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px ;
    cursor: pointer;
    

}

.li-item{
    display: flex;
    gap: 5px;
    justify-content: center;
    list-style-type: none;

}

/* the code for HOME ---------------------------------------------------------------*/
.li-item li a {
    transition: transform 0.3s ease;
    color: rgb(0, 0, 0);
    width: 150px;
    height: 80px;
    text-decoration: none;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    cursor: pointer;
    /* border: 2px solid blue; */
    border-radius: 10%;
    padding: 3px 3px;
    /* background: linear-gradient(145deg, #645f5f, #000000); */
    /* box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(255, 255, 255, 0.3); */
    transform: translateY(-3px);
    z-index: 0;
}

/* #Home::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 50%;
}

#Home::before {
    content: "";
    background: linear-gradient(45deg, #FF0000, #ff7300, #fffB00, #48FF00, #00FFD5, #002BFF, #FF0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    border-radius: 50%;
    transition: opacity .3s ease-in-out;
    opacity: 1;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }

} */
.li-item li a:hover {
    color: #000000;
    background: linear-gradient(145deg, #b8b8b8, #fcebeb);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(255, 255, 255, 0.3);
    transform: translateY(-7px);
}

.li-item li a:active {
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5),
        inset -3px -3px 8px rgba(255, 255, 255, 0.2);
    transform: translateY(1px);
}

.searchbar{
    border: 1px solid red;
    height: 60px;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
    gap: 5px 2px;
}



