* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300..700&display=swap');



body {
    background-image: url(images/background\ image\ protfolio.webp);
    margin: 0;
    padding: 0;
    /* background: linear-gradient(135deg, #a7a7a7, #000000); */
    /* background: linear-gradient(135deg, #000000, #FFD700); */
    
    /* background-color:  #E1E0D7; */
    /* background-image: url(images/full\ and\ final\ img.webp); */
    background-size: contain;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
}

.upperbody{
    /* background: radial-gradient(circle, rgba(3, 3, 3, 0.907), rgba(0, 0, 0, 0.512));  */
    /* border: 3px solid blue; */

}

.nav-container {
    /* background-color: #00000017; */
    /* backdrop-filter: blur(8px); */
    /* background-color: #000000; */

    /* border: 2px solid red; */
    border-radius: 10px;
    /* background-color: rgba(255, 255, 255, 0.2); */
    background-color: #5d5d605d;
    backdrop-filter: blur(5px);
    /* padding: 10px; */
    margin-top: 20px;
    height: 10vh;
    display: flex;
    flex: 1;
    /* flex-direction: column; */
    justify-content:space-evenly;
    align-items: center;
    /* align-items: ; */
    /* padding-top: 10px; */
}

.logo img {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px;
    cursor: pointer;


}

.li-item {
    /* z-index: -1; */
    display: flex;
    gap: 10px;
    justify-content: center;
    list-style-type: none;

}

/* the code for HOME ---------------------------------------------------------------*/
.li-item li a {
    margin-top: 5px;
    transition: transform 0.3s ease;
    color:#FFFFFF;
    /* width: 100px;
    height: 50px; */
    text-decoration: none;
    font-family: "Inconsolata", monospace;
    font-size: 17px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* border: 2px solid blue; */
    border-radius: 10%;
    padding: 5px 10px;
    /* background: linear-gradient(145deg, #645f5f, #000000); */
    /* box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(255, 255, 255, 0.3); */
    transform: translateY(-3px);
    z-index: 0;
}

.li-item li a:hover {
    color: #000000;
    background: linear-gradient(145deg, #b8b8b8, #fcebeb);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(255, 255, 255, 0.3);
    transform: translateY(-7px);
}

.li-item li a:active {
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5),
        inset -3px -3px 8px rgba(255, 255, 255, 0.2);
    transform: translateY(1px);
}

.search-box1 {
    /* border: 1px solid red; */
    height: 10vh;
    width: 500px;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
    gap: 5px 2px;
}

.searchbar {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#Search-box {
    border: none;
    height: 35px;
    display: flex;
    font-size: 14px;
    cursor: pointer;
    border: 2px solid rgb(149, 149, 155);
    padding: 10px 20px;
    border-radius: 30px;
    align-items: center;
    /* box-shadow: 0 10px 8px rgba(0, 0, 0, 0.3); */

}

#Search-box:hover input {
    width: 400px;
}

#Search-box input {
    width: 0px;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;

}

.fa-solid, .fas {
    font-weight: 900;
    margin: 0px 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.fa-solid, .fas:hover{
    /* transform: translateY(-7px); */
}


button {
    border: none;
    margin: 0px 5px;
    transition: transform 0.3s;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    background: transparent;
    box-shadow: 0 5px 10px;
}

button:hover {
    color: #000000;
    background: linear-gradient(145deg, #b8b8b8, #fcebeb);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(255, 255, 255, 0.3);
    transform: translateY(-7px);
}

button:active {
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5),
        inset -3px -3px 8px rgba(255, 255, 255, 0.2);
    transform: translateY(1px);
}



/* hero section css--------------------------------- */

.hero {
    /* border: 2px solid rebeccapurple; */
    /* background-color: #000000a6; */
    /* backdrop-filter: blur(5px); */
    /* background: radial-gradient(circle, rgba(0, 255, 255, 0.068), rgba(0, 0, 0, 0.9));  */
    /* background: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%); */
    border-radius: 5px;
    margin-top: 100px;
    /* margin-right: 100px; */
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 20px 25px;

}

.intro {
    /* border: 2px solid red; */
    background-color: rgba(61, 58, 58, 0.334);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    margin-right: 30px;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
}

.intro h1 {
    /* border: 1px solid brown; */
    /* text-align: center; */
    font-size: 50px;
}

#Name {
    font-weight: bolder;
    font-family: "Teko", sans-serif;
    text-shadow: 0 10px 10px rgba(35, 35, 35, 0.937);
    border-bottom: 1px solid black;
    /* border: 1px solid white; */
    /* text-align: center; */
    font-size: 40px;
}

.intro p {
    margin-top: 10px;
    font-size: 25px;
    font-family: "Inconsolata", monospace;
    width: 700px;
}

.myimg img {
    /* border: 2px solid blue; */
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    height: 300px;
    width: 400px;
    padding: 10px;
    border-radius: 10px;
}

.herimg {
    border-radius: 10px;
}

/* complete the hero section--------------------------------- */



/* create the main section------------------------------------ */
.main-section {
    padding-top: 25px;
    text-align: center;
    margin-top: 300px;
    border: 2px solid red;
    /* background: linear-gradient(135deg, rgba(205, 159, 252, 0.149) 10%, rgba(114, 103, 240, 0.144) 100%); */
    /* height: 1000px;  */
    /* background-color: #f0f0f0; */
}

.main-section h1{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.card-container {
    background-image: url(images/projects\ bg\ img.jpeg);
    
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    border: 2px solid blue;
}

.Projects{
    border: 2px solid red;
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
}
.Projects a{
    text-decoration: none;
    list-style-type: none;
}
.prj-img{
    flex: 1;
    padding: 5px 5px;
    border-radius: 20px;
    /* box-shadow: 4px 5px 5px rgb(0,0,0,0); */
    width: 100%;
    height: auto;
    cursor: pointer;
}
.card-content{
    padding: 16px;
    font-size: 20px;
}
.card-content h3 a{
    color: black;
    text-decoration: none;
    list-style-type: none;
}

/* .foodsite { */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    /* margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 0px; }*/

/* .foodsite img { */
    /* width: 200px;
    height: 200px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;} */



/* .foodsite h3 a { */
    /* text-decoration: none;
    color: black;
    border: 1px solid brown;
    font-size: 30px;
    padding: 12px;
    background-color: rgb(253, 42, 98);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;} */
